<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.scankit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <meta-data
            android:name="huawei_module_scankit_local"
            android:value="10320300" />
        <meta-data
            android:name="huawei_module_scankit_sdk_version"
            android:value="scan:1.3.2.300" />
        <meta-data
            android:name="com.huawei.hms.client.service.name:scan"
            android:value="scan:1.3.2.300" />
        <meta-data
            android:name="com.huawei.hms.min_api_level:scan:huawei_module_scankit"
            android:value="1" />
        <meta-data
            android:name="com.huawei.hms.min_api_level:scan:hmscore"
            android:value="1" />

        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity" />
    </application>

</manifest>