<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.mlkit.common.ha"
    android:versionCode="20003300"
    android:versionName="2.0.3.300" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ml-computer-ha-inner"
            android:value="ml-computer-ha-inner:2.0.3.300" />
    </application>

</manifest>