<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.appgallery.serviceverifykit"
    android:versionName="11.2.1.300" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="29" />

    <application>
    </application>

</manifest>